# Base de datos
DB_HOST=mysql
DB_PORT=3306
DB_NAME=catalogo
DB_USER=catalogo_user
DB_PASSWORD=catalogo_pass
MYSQL_ROOT_PASSWORD=root_pass

# Conversión de moneda (valor del dólar en pesos argentinos)
PRECIO_USD=1200.00
